<section class="knowledge section-separation" id="conocimientos">

    <app-title-section title="Habilidades"></app-title-section>

    <div class="knowledge__background-container">

      <div class="knowledge__container">

          <img src="assets/tecnologias/CSS.svg" alt="logo css"/>
          <img src="assets/tecnologias/HTML.svg" alt="logo html"/>
          <img src="assets/tecnologias/JS.svg" alt="logo js"/>
          <img src="assets/tecnologias/TS.svg" alt="logo ts"/>
          <img src="assets/tecnologias/REACT.svg" alt="logo react"/>
          <img src="assets/tecnologias/ANGULAR.svg" alt="logo angular"/>

          <img src="assets/tecnologias/NEXTJS2.svg" alt="logo css"/>
          <img src="assets/tecnologias/TAILWINDCSS.svg" alt="logo css"/>
          <img class="img-border" src="assets/tecnologias/ASTRO%20NARANJA.svg" alt="logo css"/>
          <img src="assets/tecnologias/JAVA.svg" alt="logo css"/>
          <img src="assets/tecnologias/SPRING%20BOOT.svg" alt="logo css"/>
          <img src="assets/tecnologias/MYSQL.svg" alt="logo css"/>

      </div>

    </div>

</section>
