<header>
    <nav class="navbar">
        <a href="#inicio" class="nav-link" id="link-inicio">Inicio</a>
        <a href="#conocimientos" class="nav-link" id="link-conocimientos">Conocimientos</a>
        <a href="#proyectos" class="nav-link" id="link-proyectos">Proyectos</a>
        <button class="nav-theme" onclick="changeTheme()">
            <!-- Ícono de luna (modo claro) -->
            <svg viewBox="0 0 24 24" xml:space="preserve"  id="moon-icon" width="24" height="24"
                 xmlns="http://www.w3.org/2000/svg" >

                <g>
                    <path  d="M12,22C6.5,22,2,17.5,2,12c0-4.7,3.4-8.9,8-9.8c0.4-0.1,0.9,0.1,1.1,0.5c0.2,0.4,0.1,0.9-0.2,1.2C9.7,5.1,9,6.8,9,8.5
                    c0,3.6,2.9,6.5,6.5,6.5c1.7,0,3.4-0.7,4.6-1.9c0.3-0.3,0.8-0.4,1.2-0.2c0.4,0.2,0.6,0.6,0.5,1.1C20.9,18.6,16.7,22,12,22z
                    M7.6,5.3C5.4,6.8,4,9.2,4,12c0,4.4,3.6,8,8,8c2.8,0,5.2-1.4,6.7-3.6c-1,0.4-2.1,0.6-3.2,0.6C10.8,17,7,13.2,7,8.5
                    C7,7.4,7.2,6.3,7.6,5.3z"/>
                </g>

            </svg>

            <!-- Ícono de sol (modo oscuro) -->
            <svg id="sun-icon" width="25" height="25" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <circle cx="50" cy="50" r="20" fill="#ffffff"/>
                <line x1="50" y1="5" x2="50" y2="15" stroke="#ffffff" stroke-width="3"/>
                <line x1="50" y1="85" x2="50" y2="95" stroke="#ffffff" stroke-width="3"/>
                <line x1="5" y1="50" x2="15" y2="50" stroke="#ffffff" stroke-width="3"/>
                <line x1="85" y1="50" x2="95" y2="50" stroke="#ffffff" stroke-width="3"/>
                <line x1="20" y1="20" x2="30" y2="30" stroke="#ffffff" stroke-width="3"/>
                <line x1="80" y1="20" x2="70" y2="30" stroke="#ffffff" stroke-width="3"/>
                <line x1="20" y1="80" x2="30" y2="70" stroke="#ffffff" stroke-width="3"/>
                <line x1="80" y1="80" x2="70" y2="70" stroke="#ffffff" stroke-width="3"/>
            </svg>
        </button>

    </nav>
</header>
