.knowledge {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*background-color: indianred;*/
        /*background-color: crimson;*/
        /*background-color: blanchedalmond;*/
        /*background-color: navajowhite;*/
        /*background-color: palegreen;*/

        /*background-color: slateblue;*/
        background-color: var(--knowledge-background);
        gap: 20px;
        padding-bottom: 100px;
    }

    .knowledge__background-container{
        /*background-color: #ffa6a6;*/
        background-color: var(--knowledge-background-container);

        padding: 100px;
        width: 1024px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        position: relative;
    }


    .knowledge__container {
        //display: flex;
        width: 100%;

        box-sizing: border-box;
        justify-content: center;
        display: grid;
        grid-template-columns:repeat(5, auto);
        grid-template-rows: repeat(2, auto);

    }

    .knowledge__show-text-button{
        position: absolute;
        top:20px;
        right: 20px;
        font-size: 12px;
        padding: 5px 10px;
        color: rgb(198, 198, 198);
        background-color: var(--knowledge-color-text-button);

        border-radius: 5px;
        border: transparent;

        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        cursor: pointer;

    }


    .knowledge__show-text-button:hover{
        transform: scale(1.1);



    }


    @media(max-width: 400px){
        .knowledge__background-container{
            padding: 60px 0px;
            width: 100%;
        }
        .knowledge__container img{
            width: 80px;
        }
        .knowledge__container{
            flex-wrap: wrap;
            display: flex;
            width: 100%;
        }
    }

    @media(min-width: 401px) and (max-width: 767px){

        .knowledge__background-container{
            padding: 60px 30px;
            width: 100%;
        }
        .knowledge__container {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        .knowledge__container img{
            width: 100px;
        }
    }


    @media (min-width: 768px) and (max-width: 1023px){
        .knowledge__container{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
        }
        .knowledge__background-container{
            width: 100%;
        }
        

    }
