<div class="proyecto">
    <section>

        <a [routerLink]="'/'" class="back-button">
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
            </svg>
            Volver a proyectos
        </a>

        <div class="header">

            <div class="header__info-container">
                <h1 class="header__title">{{ project?.titulo }}</h1>
                <span class="header__subtitle">{{ project?.subtitulo }}</span>
                <p class="header__description">{{ project?.descripcion }}</p>

                <div class="header__buttons-container">
                    <a class="project-link-btn--deploy project-link-btn" [href]="project?.enlaces?.desplegado" *ngIf="project?.enlaces?.desplegado" target="_blank">
                        <span class="card-project__arrow">
                            Ver
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" height="23"
                                width="23" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg>
                        </span>
                    </a>

                    <a class="project-link-btn--github project-link-btn" [href]="project?.enlaces?.frontend_github" *ngIf="project?.enlaces?.frontend_github" target="_blank">Frontend</a>

                    <a class="project-link-btn--backend project-link-btn" [href]="project?.enlaces?.backend_github" *ngIf="project?.enlaces?.backend_github" target="_blank">Backend</a>

                </div>
            </div>

            <img class="header__image-container" [src]="project?.fotos?.imagen_portada ?? ''" alt="">


        </div>







        <!-- tecnologias -->
        <div class="technologies">
            <h2 class="project__title">Tecnologias</h2>
            <div class="technologies__tags">
                <app-tag *ngFor="let tech of project?.tecnologias"
                         [tagName]="tech" [src]="techMapIcon[tech]"></app-tag>
            </div>

        </div>







        <!-- fotos -->

        <div class="gallery">
            <h2 class="project__title">Fotos</h2>
            <ul class="gallery__list">
                <li *ngFor="let im of images; let i = index">
                    <button class="gallery__button " (click)="openVisor(i)">
                        <img [ngSrc]="im" class="gallery__image " fill />
                    </button>
                </li>

            </ul>


        </div>




        <!-- nav -->
        <div class="project-nav">

            <!-- NEXT PROJECT -->
            <button class="project-nav__button project-nav__button--left" (click)="previousProject()" [disabled]="!hasPreviousProject()">
                <svg class="project-nav__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M5 12l6 6" />
                    <path d="M5 12l6 -6" />
                </svg>

                <div class="project-nav__text project-nav__text--left">
                    <span class="project-nav__title">PROYECTO ANTERIOR</span>
                    <span class="project-nav__name">{{ generatePreviousNameProject() }}</span>
                </div>
            </button>


            <!-- HOME -->
            <a class="project-nav__button project-nav__button--home" routerLink="/">
                <svg class="project-nav__home" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 3a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" />
                    <path d="M19 3a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" />
                    <path d="M9 13a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" />
                    <path d="M19 13a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" />
                </svg>
            </a>


            <!-- PREVIOUS PROJECT -->
            <button class="project-nav__button project-nav__button--right" (click)="nextProject()" [disabled]="!hasNextProject()">
                <div class="project-nav__text project-nav__text--right">
                    <span class="project-nav__title">PROYECTO SIGUIENTE</span>
                    <span class="project-nav__name">{{ generateNextNameProject()}}</span>
                </div>

                <svg class="project-nav__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M13 18l6 -6" />
                    <path d="M13 6l6 6" />
                </svg>
            </button>


        </div>

    </section>





    <div class="visor" *ngIf="showImage" (click)="closeVisor()">
        <div class="visor__background" (click)="$event.stopPropagation()">
            <button class="visor__close-btn" (click)="closeVisor()">✕</button>

            <app-left-arrow-button class="visor__left" (onClick)="previousImage()"></app-left-arrow-button>
            <app-right-arrow-button class="visor__right" (onClick)="nextImage()"></app-right-arrow-button>

            <figure class="visor__figure" (wheel)="onZoomScroll($event)">
                <img class="visor__image" [src]="images[selectedImage]" alt=""
                    [style.transform]="'scale(' + zoomScale + ')'">

            </figure>

            <div class="visor__controls">
                <button (click)="zoomOut()" [disabled]="zoomScale <= 0.5">-</button>
                <span class="visor__zoom-percentage">{{ (zoomScale * 100) | number:'1.0-0' }}%</span>
                <button (click)="zoomIn()" [disabled]="zoomScale >= 3">+</button>
            </div>

        </div>

    </div>

</div>
