
.knowledge-card{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.knowledge-card__image{
     transition: filter 0.5s ease-in-out, brightness 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.knowledge-card__image-blur{
    filter: blur(5px)  brightness(80%);
    transform: scale(1.5);
}



.knowledge-card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
    animation: fadeIn 0.5s ease-in-out;
    font-size: 20px;
    font-family: var(--font-family);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media(max-width: 400px){
    .knowledge-card__image{
        width: 80px;
    }
    .knowledge-card__text {
        font-size: 9px;
    }

}

@media(min-width: 401px) and (max-width: 767px){
    .knowledge-card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .knowledge-card__image{
        width: 100px;
    }
    .knowledge-card__text {
        font-size: 13px;
    }
}