.button {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 45px;
    width: 100%;

    transition: transform 0.2s;
    border: none;
    cursor: pointer;
    background: var(--button-background);
    box-shadow: var(--button-shadow);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: var(--button-shadow-hover);

}

.button__icon {
    width: 25px;
    height: 25px;
}

.button__text {
    font-size: var(--button-font-size);
    font-family: var(--font-family);
    color: var(--button-text-color);
    font-weight: 500;
}
