<section class="projects section-separation" id="proyectos">

  <app-title-section title="Proyectos"></app-title-section>

    <div class="projects__container">

      <app-card-project
        title="UdeA Food"
        description="Aplicación web inspirada en Rappi, DidiFood y Uber Eats, pero enfocada en las tiendas de la Universidad de Antioquia. Con esta aplicación, los usuarios pueden crear sus propias tiendas y gestionar sus productos, mientras que los clientes pueden explorar, buscar y comprar la oferta gastronómica disponible."
        src="assets/proyectos/PaginaUdeAFood2.png"
        githubLink="https://github.com/YeisonCordoba07/udea-food-front"
      >
        <app-tag
          tagName="Angular"
          src="assets/svg/angular18.svg"
        ></app-tag>
        <app-tag
          tagName="TypeScript"
          src="assets/svg/typescript.svg"
        ></app-tag>
        <app-tag
          tagName="JavaScript"
          src="assets/svg/javascript.svg"
        ></app-tag>
        <app-tag
          tagName="Java"
          src="assets/svg/java.svg"
        ></app-tag>
        <app-tag
          tagName="Spring"
          src="assets/svg/spring.svg"
        ></app-tag>
        <app-tag
          tagName="MySQL"
          src="assets/svg/mysql.svg"
        ></app-tag>
        <app-tag
          tagName="MongoDB"
          src="assets/svg/mongodb.svg"
        ></app-tag>

      </app-card-project>




        <app-card-project
                title="Disney Plus Clone"
                description="Este proyecto es una réplica responsive de la página principal de Disney Plus hecha con react. El objetivo es recrear el diseño, el movimiento de scroll horizontal, aplicar atomic design y hacerla adaptable o responsive para que se vea bien y funcione en todos los dispositivos."
                src="assets/proyectos/PaginaDisneyPlusLarge.jpg"
                githubLink="https://github.com/YeisonCordoba07/disney-plus-clone"
                resultLink="https://yeisoncordoba07-disney-plus-clone.vercel.app/"
        >
            <app-tag
                    tagName="React"
                    src="assets/svg/react.svg"
            ></app-tag>
            <app-tag
                    tagName="NextJS"
                    src="assets/svg/nextjs.svg"
            ></app-tag>
            <app-tag
                    tagName="TypeScript"
                    src="assets/svg/typescript.svg"
            ></app-tag>
            <app-tag
                    tagName="SCSS"
                    src="assets/svg/scss.svg"
            ></app-tag>

        </app-card-project>



        <app-card-project
                title="Emason"
                description="Emason es una aplicación web diseñada para gestionar artículos de compra, permitiendo su asociación con marcas y múltiples categorías. También tiene un sistema de gestión de roles con tres tipos de usuarios, cada uno con permisos específicos según su rol."
                src="assets/proyectos/emasonall-shadow.png"
                githubLink="https://github.com/orgs/BootcampPragma/repositories"
        >
            <app-tag
                    tagName="Angular"
                    src="assets/svg/angular18.svg"
            ></app-tag>
            <app-tag
                    tagName="JavaScript"
                    src="assets/svg/javascript.svg"
            ></app-tag>
            <app-tag
                    tagName="TypeScript"
                    src="assets/svg/typescript.svg"
            ></app-tag>
            <app-tag
                    tagName="Java"
                    src="assets/svg/java.svg"
            ></app-tag>
            <app-tag
                    tagName="Spring"
                    src="assets/svg/spring.svg"
            ></app-tag>
            <app-tag
                    tagName="MySQL"
                    src="assets/svg/mysql.svg"
            ></app-tag>
        </app-card-project>



        <app-card-project
                title="Master Class"
                description="Replica de la página web de MasterClass utilizando únicamente HTML y CSS. Este proyecto se centró en practicar maquetación, recreando la estructura, estilos y tipografía característicos de la plataforma."
                src="assets/proyectos/PaginaMasterClassLarge.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio4"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio4/"
                [showInfo]="true"
        >
            <app-tag
                    tagName="HTML"
                    src="assets/svg/html5.svg"
            ></app-tag>

            <app-tag
                    tagName="CSS"
                    src="assets/svg/css.svg"
            ></app-tag>

        </app-card-project>


        <app-card-project
                title="Correos España"
                description="Recreación de la pagina web de Correos España empleando HTML y CSS. Este proyecto permitió desarrollar habilidades en la construcción de diseños estáticos y layouts organizados."
                src="assets/proyectos/PaginaCorreosLarge.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio7"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio7/"
                [showInfo]="true"
        >
            <app-tag
                    tagName="HTML"
                    src="assets/svg/html5.svg"
            ></app-tag>

            <app-tag
                    tagName="CSS"
                    src="assets/svg/css.svg"
            ></app-tag>

        </app-card-project>

        <app-card-project
                title="Mercado Libre"
                description="Clon de la página web de Mercado Libre implementado con HTML y CSS. El enfoque principal fue la recreación de interfaces de comercio electrónico, trabajando en la disposición de elementos como tarjetas de productos."
                src="assets/proyectos/PaginaMercadoLibreLarge.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio8"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio8/"
                [showInfo]="true"
        >
            <app-tag
                    tagName="HTML"
                    src="assets/svg/html5.svg"
            ></app-tag>

            <app-tag
                    tagName="CSS"
                    src="assets/svg/css.svg"
            ></app-tag>

        </app-card-project>


    </div>

</section>
