<section class="projects section-separation" id="proyectos">

    <app-title-section title="Proyectos"></app-title-section>

    <div class="projects__container">
        <app-card-project
            *ngFor="let project of projectsList; let i = index"
            [title]="project.titulo"
            [description]="project.descripcion"
            [src]="project.fotos.presentacion.imagen_home"
            [githubLink]="String(i+ 1)"
            [resultLink]="project.enlaces.desplegado"
            [showStar]="project.numero_url === '1' || project.numero_url === '2'"
            [showInfo]="project.numero_url === '4' || project.numero_url === '5' || project.numero_url === '6'"
        >
            <app-tag
                *ngFor="let tech of project.tecnologias"
                [tagName]="tech"
                [src]="techMapIcon[tech]"
            ></app-tag>
        </app-card-project>
    </div>

</section>
